:root{
    --background-color: linear-gradient(90deg, rgba(244,245,250,1) 0%, #004225 100%);
}


body {
  
    justify-content: center;
    align-items: center;
    background: rgb(244,245,250);
    background: linear-gradient(90deg, rgba(244,245,250,1) 0%, #004225 100%);
    scroll-behavior: smooth;
    height: 100vh;
    
}

.btn__voltar{
    margin:10px 5px; color:white; background:#425A43; padding:10px; text-decoration:none; border-radius:10px; text-transform:uppercase;
  
}

.header_cadastro{
    padding: 10px;
}

.session-members {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
}

.container-membro {
    text-align: center;
    margin-right: 50px;
}

.container-membro h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
}

.container-membro p {
    font-size: 1.2rem;
    color: #555;
}

.form-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    font-size: 1.1rem;
    color: #333;
    margin-top: 15px;
}

.form select,
.form input[type='text'],
.form input[type='email'] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 8px;
}

.form select {
    width: 100%;
}

form .button{
    background-color: #004225;
    color: #F4F5FA;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 40px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 30px;
    margin: 20px 0;
}

form .button:hover{
    transform: scale(1.1);
    color: #004225;
    background-color: #F4F5FA;
    border: 2px solid #004225;
    transition: .5s;
    cursor: pointer;
}



.form-country {
    display: flex;
    justify-content: space-between;
    gap:10px;
    margin:5px 0;
}

.form-country label {
    flex-basis: 30%;
}

.form-checkbox {
    display: flex;
    align-items: baseline;
    margin-top: 15px;
    font-size: 1.1rem;
    color: #333;
}

.form-checkbox input[type='checkbox'] {
    margin-right: 10px;
}

.form-country select {
    flex-basis: 60%;
}


.form button:hover {
   
    background: rgb(244,245,250);
    background: linear-gradient(90deg, rgba(244,245,250,1) 0%, #004225 100%);
}

@media screen and (max-width: 768px) {
.session-members {
    flex-direction: column;
    text-align: center;
}

.container-membro {
    margin: 0;
    margin-bottom: 30px;
}

.form-container {
    margin: 0;
}

.container-membro img{
    display: none;
}
}

@media screen and (max-width: 320px) {

.container-membro {
font-size: 1.5rem;
}

.form-container {
padding: 20px;
}

.form label {
font-size: 1rem;
}

.form select,
.form input[type='text'],
.form input[type='email'] {
padding: 8px;
font-size: 0.9rem;
}
}

